.logo{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,255,184,1) 67%);
height: 400px;
    
}

.rowLenguajes img{
    transition: transform 1s ease-in-out;
    width: 50pxs;

}
.rowLenguajes img:hover{
    transform: scale(1.3);
}
